.panel-login{

    width:400px;
    height: auto;
    border: solid 2px  #260f54;
    margin-left:550px;
    margin-right:550px;
    margin-top: 100px;
    box-shadow:5px 5px black ;
}
.panel-login__body{
    width:400;
    margin:20px;



}
.panel-login__body--centro{
    margin: 0 auto;
    margin-left:160px;
}
.inputbox{
    margin-left:26px;
}