<!DOCTYPE html>
<html lang="es">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>WeekenDays</title>
      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="../js/jquery-3.3.1.min.js"></script>
      <script src="../js/categorias.js"></script>
</head>
<body class = "layout-product-page">
  <div class="carrousel-section">
      <header id="slider" class= "carrousel-section__header">
         
                  <nav class = "navigation-menu">
                        <div class="navigation-menu__icon">
                              <i class="fa fa-bars fa-2x"></i>
                        </div>
                        <div class="navigation-menu__logo">
                             <a href="#">
                                   <img src="img/logoWeb.png" align="left">
                             </a>
                                   
                        </div>
                        <div class="navigation-menu__content">
                              <ul class = "navigation-menu__options">
                                    <li class = "navigation-menu__option" ><a href="#">Home</a></li>
                                    <li class = "navigation-menu__option" id = "categoria"><a>Categorias</a>
                                          
                                    </li>
                                    <li class = "navigation-menu__option"><a href="#">Contacto</a></li>
                              </ul>
                        </div>
                  </nav>
      </header>
</div>
      <div class="main-product-section">
      <div class="card-section" align="center">
                <div class="card-section__column">
                    <div class="card-section__header" style=" background-image: url(img/adult-adventure-backpack-442559.jpg)"></div>
                    <div class="card-section__content">
                        <ul>
                            <li>Descubre los mejores parajes turisticos y
                              disfruta de una de las mejores experiencias
                              ahora mismo.</li>
                            
                        </ul>
                    </div>
                    <div class="card-section__price">
                        <h2>Precio: 2049€</h2>
                        <p>I.V.A INCLUIDO</p>
                    </div>
                </div>

                <div class="card-section__column">

                    <div class="card-section__header" style=" background-image: url(img/close-up-composition-data-669986.jpg)">
                       
                    </div>

                    <div class="card-section__content">
                        <ul>
                            <li>Realiza el viaje de tus sueños
                              a un precio inmejorable gracias a todas nuestras Ofertas Flash</li>
                              
                            
                        </ul>
                    </div>

                    <div class="card-section__price">
                        <h2>Precio: 1299€</h2>
                        <p>I.V.A INCLUIDO</p>
                    </div>

                </div>
                <div class="card-section__column">

                    <div class="card-section__header" style=" background-image: url(img/lgtb.jpeg)">
                        
                    </div>

                    <div class="card-section__content">
                        <ul>
                            <li>Realiza el viaje de tus sueños a un precio inmejorable gracias a todas nuestras Ofertas Flash</li>
                           
                        </ul>
                    </div>

                    <div class="card-section__price">
                        <h2>Precio: 349€</h2>
                        <p>I.V.A INCLUIDO</p>
                    </div>

                </div>
      </div>
              
                       
            

</div>
<footer>
   <div class = "footer-section">
      <div class = "footer-body">
            <div class = "footer-company-info">
                  <h1 class = "footer-company-info__title">Más información de la compañia</h1>
                  <p class = "footer-company-info__body">Esta compañia se dedica a la venta de paquetes
                     relacionados con el sector turístico, con el fin
                     de ofrecer las mejores experiencias a sus clientes</p>
            </div>
            <div class = "footer-social-networks">
                  <h1 class = "footer-social-networks__title">Redes Sociales</h1>
                  <div class = "footer-social-networks--position">
                        <img src="img/facebook.png">
                        <label>Síguenos en Facebook</label>
                  </div>
                  <div class = "footer-social-networks--position">
                        <img src="img/twitter.png">
                        <label>Síguenos en Twitter</label>
                  </div>
                  <div class = "footer-social-networks--position">
                        <img src="img/instagram.png">
                        <label>Síguenos en Instagram</label>
                  </div>
                  <div class = "footer-social-networks--position">
                        <img src="img/googleplus.png">
                        <label>Síguenos en Google Plus</label>
                  </div>
                  <div class = "footer-social-networks--position">
                        <img src="img/pinterest.png">
                        <label>Síguenos en Pinterest</label>
                  </div>
            </div>
            <div class = "footer-company-contact">
                  <h1 class = "footer-company-contact__title">Información Contactos</h1>
                  <div class = "footer-social-networks--position2">
                        <img src="img/home.png">
                        <label>Valéncia - España</label>
                  </div>
                  <div class = "footer-social-networks--position2">
                        <img src="img/smartphone.png">
                        <label>+34 961 531 846</label>
                  </div>
                  <div class = "footer-social-networks--position2">
                        <img src="img/email.png">
                        <label>weekendayscontact@gmail.com</label>
                  </div>
            </div>
      </div>
  </div>
  <div class = "final-footer">
        <div class = "final-footer-container">
            <div class = "copyright">
                        © Todos los Derechos Reservados | <span>NeXtion.</span>
            </div>   
            <div class = "information">
                  <a href="">Información Compañia </a>| <a href = "">Privación y 
                  Política</a> | <a href="">Terminos y Condiciones</a>
            </div>
        </div>
        </footer>
</body>
</html>
